<!DOCTYPE html>
<html lang="en-us">

<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>SpadesX Map Repo</title>
</head>

<body>
	<nav>
		<h1>SpadesX Map Repo</h1>
		<a href="https://github.com/SpadesX/Maps/blob/main/CONTRIBUTING.md">Add a map</a>
	</nav>

	<header>
		<h2><strong>WARNING!</strong> Work in progress!</h2>
	</header>

	<main>
		{{#categories}}
		<section id="{{id}}">
			<h2>{{name}}</h2>
			<div class="maps">
				{{#maps}}
				<a class="map" href="/Maps/{{path}}/index.html">
					<span class="title">{{name}}</span> by <span class="author">{{author}}</span>
					<div class="tags">
						Tags:
						{{#tags}}
						<span class="tag">{{tag}}</span>
						{{/tags}}
					</div>
				</a>
				{{/maps}}
			</div>
		</section>
		{{/categories}}
	</main>

	<footer>
		<p>&copy; SpadesX team, 2022
		<p><a href="https://github.com/SpadesX/Maps">Github</a>
	</footer>
</body>

</html>
